{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,nofollow”>

<title>
موفقیت آمیز | سوله سازی نواح تبریز
</title>
{% endblock %}

{% block body_block %}


<div style="padding: 5%;">
  <div style="max-width:1300px; margin:auto;" class="shadow-3 uk-card uk-card uk-card-body gray-lighten-4 fYekan">
    <h1 class="font-5 fYekan-bold red-text-darken-4 uk-text-center pattern-1">
<span style="background: #f2f2f2; padding:20px; border-radius: 50%;" class="shadow-3 uk-margin-small-right green-text" uk-icon="icon:check;ratio:7"></span>
    </h1>
    <p class="font-5 green-text-darken-3 fYekan-bold uk-align-center uk-text-center">سفارش شما با موفقیت ثبت شد</p>
<p style="max-width:900px" class="font-4 gray-text-darken-4 fYekan uk-align-center uk-text-right">

با تشکر از حسن انتخاب شما. مدیران ما در اسرع وقت سفارش شما را چک کرده و پس از بررسی های مربوطه در صورت نیاز با شما تماس خواهند گرفت.

<br>
سوله و سازه های فلزی نواح
</p>
  </div>
</div>
{% endblock %}
