{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,nofollow”>

<title>
پنل کاربری | سوله سازی نواح تبریز
</title>
{% endblock %}

{% block body_block %}


<div  style="padding: 5%;">
<p class="fYekan-bold font-6 uk-text-center gray-text-lighten-4 uk-align-center" >پنل مدیریت</p>
<br>
<a style="max-width:1500px;" href="{% url 'projects:createproject' %}" class=" uk-align-center fYekan font-5 shadow-2 uk-button gray-lighten-3 red-text-darken-4 uk-width-1-1 border-radius-2 ">افزودن پروژه</a>
<a style="max-width:1500px;" href="{% url 'projects:projectlist' %}" class="uk-align-center fYekan font-5 shadow-2 uk-button gray-lighten-3 red-text-darken-4 uk-width-1-1 border-radius-2 ">لیست پروژه ها</a>
<div style="margin-bottom:65px;" class="" ></div>
<a style="max-width:1500px;" href="{% url 'comment:createcomment' %}" class="uk-align-center fYekan font-5 shadow-2 uk-button gray-lighten-3 red-text-darken-4 uk-width-1-1 border-radius-2 ">افزودن نظر</a>
<a style="max-width:1500px;" href="{% url 'comment:commentlist' %}" class="uk-align-center fYekan font-5 shadow-2 uk-button gray-lighten-3 red-text-darken-4 uk-width-1-1 border-radius-2 ">لیست نظرات</a>
<div style="margin-bottom:65px;" ></div>
<a style="max-width:1500px;" href="{% url 'gallery:createphoto' %}" class="uk-align-center fYekan font-5 shadow-2 uk-button gray-lighten-3 red-text-darken-4 uk-width-1-1 border-radius-2 ">افزودن عکس به گالری</a>
<a style="max-width:1500px;" href="{% url 'gallery:photolist' %}" class="uk-align-center fYekan font-5 shadow-2 uk-button gray-lighten-3 red-text-darken-4 uk-width-1-1 border-radius-2 ">لیست عکس های گالری</a>
<div style="margin-bottom:65px;" ></div>
<a style="max-width:1500px;" href="{% url 'company:contact-us-list' %}" class="uk-align-center fYekan font-5 shadow-2 uk-button gray-lighten-3 red-text-darken-4 uk-width-1-1 border-radius-2 ">لیست تماس با ما</a>
<div style="margin-bottom:65px;" ></div>
<a style="max-width:1500px;" href="{% url 'ordering:orderlist' %}" class="uk-align-center fYekan font-5 shadow-2 uk-button gray-lighten-3 red-text-darken-4 uk-width-1-1 border-radius-2 ">لیست سفارشات</a>
<div style="margin-bottom:65px;" ></div>
<a style="max-width:1500px;"  class="uk-align-center fYekan font-5 uk-button gray-lighten-3 gray-text-darken-1 uk-width-1-1 border-radius-2 " disabled>افزودن کاربر</a>
</div>
{% endblock %}
