{% extends "BaseTemplates/base1.html" %}
{% block head_block %}
<meta name=”robots” content=”index,follow”>
<title>
درباره‌ی ما | سوله سازی نواح تبریز
</title>
{% endblock %}
{% block body_block %}
<div style="padding: 5%;" class="uk-align-center uk-text-center">
  <div class="shadow-2 uk-card uk-card uk-card-body gray-gradiant uk-align-center uk-text-center">
    <h1 class="font-5 fYekan-bold red-text-darken-4 uk-text-right">
درباره ی سوله ی نواح
    </h1>
    <div class="" uk-grid>
      <p class="font-4 fYekan gray-text-darken-4 uk-text-justify uk-width-2-3@m uk-width-1-2@s uk-width-1-1">
        "سوله سازی نواح" در سال ۱۳۷۹ با هدف ایجاد ارزش افزوده و ارتقای جایگاه
        سازه های صنعتی، با نام اختصاصی "مرکز تخصصی سوله و سازه های صنعتی
        نواح" فعالیت خود را در شهر تبریز آغاز کرد.
        <br>
        طراحی، ساخت و اجرای صدها مورد سوله های صنعتی، سازه های فولادی و
        جرثقیل های سقفی از عمده فعالیت های این مرکز به حساب می آیند که طی ۲۰
        سال گذشته با تلاش بی وقفه کادر مجرب فنی، مهندسی و تکنسین های ماهر این
        مرکز تخصصی به ثمر نشسته است.
        در حال حاضر "مرکز تخصصی سوله نواح" به عنوان یکی از بزرگترین مجموعه
        های مطرح در سازه های صنعتی ایران، مشغول طراحی، اجرا و ساخت پروژه های
        متعددی است که هرکدام از آنها ویژگی های منحصر به فردی دارند.
        وجود پتانسیل های علمی در این مرکز تخصصی، همراه با مجهزترین دستگاه ها
        و ماشین آلات ساخت سازه های فولادی، "سوله سازی نواح" را قادر نموده
        بزرگترین پروژه های فولادی را در مناسب ترین زمان ممکن به سرانجام رساند.
      </p>
      <img class="uk-width-1-3@m uk-width-1-2@s uk-width-1-1" src="/media/statics/pic6.jpg" alt="سوله سازی نواح تبریز">

      <br>
      <img class="uk-width-1-3@m uk-width-1-2@s uk-width-1-1" src="/media/statics/pic7.jpg" alt="سازه های فلزی نواح تبریز">
      <p class="font-4 fYekan gray-text-darken-4 uk-text-justify uk-width-2-3@m uk-width-1-2@s uk-width-1-1">
گروه صنعتی نواح به عنوان مرکز تخصصی سوله و سازه های فلزی سالانه قادر به تولید بیش از ۲۰۰۰ تن انواع سوله، جرثقیل
های سقفی، سالن های کارگاهی و ورزشی می باشد و مهندسان مجرب و تکنسین های کارآمد این مجموعه
در راستای شکوفایی صنعت کشور و رضایتنمندی مشتریان، با تلفیقی شایسته از علم و عمل، اجرای
پروژه هایی استاندارد با رعایت آئین نامه ها و اصول فنی لازم زا در دستور کار خود قرار داده است.
<br>
        این مجموعه در حال حاضر با تلفیقی موفق از علم سازه های فولادی با اجرای بی نقص عملی توانسته به یکی
        از چهره های مورد اعتماد در این صنعت مادر تبدیل گردد.
        استفاده از دستگاه های پیشرفته ی جوشکاری CO2 باعث نفوذ بیشتر جوش در فلز گردیده و علاوه بر مزایای
        فنی، زیبایی بصری جالبی را نیز به نمایش می گذارد.
        همچنین این مرکز در زمینه صادرات انواع سوله و سازه های فولادی و نصب همزمان در کشورهای همسایه نیز
        فعالیت می نماید.

      </p>

      <p class="font-4 fYekan gray-text-darken-4 uk-text-justify uk-width-2-3@m uk-width-1-2@s uk-width-1-1">
        <span class="fYekan-bold">
        واحد مهندسی
      </span>  <br>
        بررسی اولیه، آنالیز مصالح و تهیه نقشه های شاپ در این واحد انجام گرفته و
        نظارت مستمر بر تمامی فعالیتهای اجرایی در محل کارگاه و محل پروژه صورت
        می پذیرد.
        <br>
        <span class="fYekan-bold">
        واحد تامین مصالح و مواد اولیه
      </span>  <br>
        بعد از تائید نقشه سازه توسط واحد مهندسي و آنالیز مصالح مورد نیاز براي اجراي
        پروژه، مواد اولیه مصرفي اعم از ورق، ناودانی، نبشی، انواع قطعات سازه اي، سیم
        جوش و رنگ مصرفی، همواره از بهترین و معتبرترین کارخانه هاي سطح کشور تهیه
        شده و به منظور ارتقای کیفی قطعات خروجی از کارخانه، حساسیت بالایی در تامین
        مواد و مصالح مصرفی لحاظ می گردد.
        <br>
        <span class="fYekan-bold">
        واحد برش
      </span>  <br>
        بعد از تهیه لیست برش و تائید واحد مهندسی مجموعه، برش کاری ورق ها قبل از
        مرحله مونتاژ توسط گیوتین ها انجام شده و به واحد مونتاژ تحویل می گردد.
        <br>
        <span class="fYekan-bold">
        واحد مونتاژ
        </span><br>
        مونتاژ قطعات برش خورده برای تهیه المان های سازه ای با دقت بسیار بالا و مطابق
        مشخصات فنی و نقشه ها تحت نظارت تیم مهندسي مجموعه، صورت گرفته و
        بعد از تکمیل و تائید به واحد جوش کاری تحویل می گردد.

      </p>
      <img class="uk-width-1-3@m uk-width-1-2@s uk-width-1-1" src="/media/statics/pic6.jpg" alt="گروه صنعتی نواح تبریز">

      <br>
      <img class="uk-width-1-3@m uk-width-1-2@s uk-width-1-1" src="/media/statics/pic7.jpg" alt="گروه صنعتی نواح تبریز">
      <p class="font-4 fYekan gray-text-darken-4 uk-text-justify uk-width-2-3@m uk-width-1-2@s uk-width-1-1">
<span class="fYekan-bold">
        واحد جوشکاری
      </span>  <br>
        بعد از انجام مونتاژ، قطعات سازه ای جهت انجام جوش کاری به این واحد تحویل می گردد و با استفاده از
        دستگاه های جوشکاری CO2 و مطابق مشخصات فنی مندرج در نقشه ها، با بهره گیری از جوشکاران ماهر و
        با تجربه جوش کاری صورت می پذیرد. در تمامی مراحل بازرسی ها و تست های جوش توسط واحد کنترل
        کیفیت انجام گرفته و در صورت نیاز، تست های تخصصی جوش با حضور نماینده کارفرما در محل کارگاه انجام
        می پذیرد.
        <br>
        <span class="fYekan-bold">
        واحد رنگ آمیزی
      </span>  <br>
        بعد از جوش کاری قطعات و کنترل نهایی توسط واحد کنترل کیفیت، قطعات آماده شده جهت رنگ آمیزی به
        واحد رنگ آمیزی هدایت می گردد. در این مرحله بعد از تمیزکاری های لازم، با بهره مندی از مصالح با کیفیت،،
        قطعات به صورت کامل و مطابق مشخصات درخواستی رنگ آمیزی می گردد.
        <br>
        <span class="fYekan-bold">
        واحد کنترل کیفیت
        </span><br>
        در تمامی مراحل ساخت قطعات سازهای نظارت و بازرسی بر عملیات جوشکاری و رنگ آمیزی توسط این واحد
        صورت می پذیرد و بدون تایید نهایی این واحد، سازه ای جهت نصب از کارگاه حمل نمی گردد.
     <br>
        <span class="fYekan-bold">
        واحد نصب
  </span>      <br>
        بعد از اتمام کامل عملیات ساخت و رنگ آميزي در کارگاه و توزین در قسمت باسکول این مجموعه، قطعات
        جهت نصب به محل کارگاه حمل گردیده و با نظارت مدیریت مجموعه و تائید واحد فني، توسط تیم مجرب
        نصب مي گردد.

      </p>


      <br>

      <div class="uk-width-1-2@s uk-width-1-1">
      <a style="height:50px;   padding-top:9px; color:#fafafa" class="font-5 uk-button border-radius-2 red fYekan-bold grey-text-lighten-4 uk-align-center uk-text-center" href="{% url 'company:contactus' %}">تماس با ما</a>
      </div>
      <div class="uk-width-1-2@s uk-width-1-1">
      <a style="height:50px;   padding-top:9px;color:#fafafa;" class="font-5 uk-button uk-button-large border-radius-2 red fYekan-bold grey-text-lighten-4 uk-align-center uk-text-center" href="{% url 'ordering:order' %}">سفارش ساخت</a>
      </div>

    </div>


  </div>
</div>

{% endblock %}
