{% extends "BaseTemplates/base1.html" %}
{% block body_block %}
<div style="padding: 5%;" class="uk-align-center uk-text-center">
  <div class="shadow-2 uk-card uk-card uk-card-body gray-gradiant uk-align-center uk-text-center">
    <h1 class="font-5 fYekan-bold red-text-darken-4">
درباره ی سوله ی نواح
    </h1>
    <div class="" uk-grid>
      <p class="font-4 fYekan gray-text-darken-4 uk-text-justify uk-width-2-3@m uk-width-1-2@s uk-width-1-1">
        مجموعه سوله نواح يكي از واحدهاي فعال در شهر تبریز مي باشد که فعاليت هاي صنعتي خود را از سال 1372 آغاز و با اخذ پروانه بهره برداري از وزارت صنايع در سال 1379، ساخت سوله و سازه های پيچ و مهره اي و جوشي را به صورت سیستماتیک ادامه داده و به تدريج به فعاليت هاي صنعتي خود سرعت بخشيده است.

        این مجموعه پس از گذشت دو دهه، ضمن ارتقاء سطح دانش كادر فني خود و با به روز كردن تجهيزات و ماشين آلات خود و با بهره گیری از تكنولوژي های نوین، توانسته است در زمينه ساخت انواع سازه هاي فولادي پيشرفت چشمگيري نموده و طي چند سال اخير، خود را به عنوان يكي از سازندگان برتر در سطح استان مطرح نمايد.

        همچنین این مجموعه در زمینه صادرات سازه های فلزی و نصب همزمان در کشورهای همسایه نیز فعالیت خود را آغاز نموده است.


      </p>
      <img class="uk-width-1-3@m uk-width-1-2@s uk-width-1-1" src="/media/statics/about-us-pic1.jpg" alt="">

      <br>
      <img class="uk-width-1-3@m uk-width-1-2@s uk-width-1-1" src="/media/statics/about-us-pic2.jpg" alt="">
      <p class="font-4 fYekan gray-text-darken-4 uk-text-justify uk-width-2-3@m uk-width-1-1@s">
كليه مراحل توليد سازه هاي فلزي و انواع سوله ها در سالن های تولید این مجموعه صورت گرفته و پس از تائید نهایی، توسط اکیپ های مجرب نصب می گردد.
        تمامی مراحل تولید مطابق با آئين نامه ها و ضوابط مقررات ملي ساختمان به انجام مي رسد و اين مهم تحت نظارت کارشناسان مجرب این مجموعه صورت پذيرفته و پس از اتمام كار تحويل كارفرمايان محترم مي گردد.

        زمینه کاری

        ساخت و نصب انواع سازه های فولادی با اتصالات پیچ و مهره ای و جوشی

        ساخت و نصب انواع سوله های صنعتی

        ساخت و نصب سالن های ورزشی

      </p>
      <br>

      <a class="uk-width-1-3 uk-button border-radius-2 red fYekan-bold gray-text-lighten-4 uk-align-center uk-text-center" href="#">تماس با ما</a>
      <a class="uk-width-1-3 uk-button border-radius-2 red fYekan-bold gray-text-lighten-4 uk-align-center uk-text-center" href="#">سفارش سوله</a>

    </div>


  </div>
</div>

{% endblock %}
